.reddit-post {
    width: 50%;
    margin-right: 0;
    margin-left: 25%;
}

a:link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: rgb(142, 142, 167);
    cursor: auto;
}

div {
    margin-bottom: 15px;
}